.board--title {
    width: 34.5rem;
    background-color: #9fe7a4;
    padding: 3rem 0;
    margin: 2rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
    transition: 200ms ease-in-out;
    font-size: 2rem;
    letter-spacing: 1.02px;
    text-align: center;
    color: black;
}
